## 简单的数据处理
* 去除空值
* 去除重复数据
* 去除极端值

In [9]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
   "id": [100, 100, 101, 102, 103, 104, 105, 106],
   "A": [1, 2, 3, 4, 5, 2, np.nan, 5],
   "B": [45, 56, 48, 47, 62, 112, 54, 49],
   "C": [1.2, 1.4, 1.1, 1.8, np.nan, 1.4, 1.6, 1.5]
})

In [30]:
df

    id    A    B    C
1  100  2.0   56  1.4
0  100  1.0   45  1.2
2  101  3.0   48  1.1
3  102  4.0   47  1.8
4  103  5.0   62  NaN
5  104  2.0  112  1.4
6  105  NaN   54  1.6
7  106  5.0   49  1.5

## 排序，id列有小到大排列，B列由大到小排列

In [26]:
df.sort_values(by=['id','B'],ascending=(True,False),inplace=True)

In [3]:
def fill_missing_values(df):
    for col in df.select_dtypes(include= ["int","float"]).columns:
        val = df[col].mean()
        df[col].fillna(val, inplace=True)
    return df

In [31]:
def drop_duplicates(df, column_name):
    df = df.drop_duplicates(subset=column_name,keep='last')
    return df

In [12]:
drop_duplicates?

In [5]:
def remove_outliers(df, column_list):
    for col in column_list:
        avg = df[col].mean()
        std = df[col].std()
        low = avg - 2 * std
        high = avg + 2 * std
        df = df[df[col].between(low, high, inclusive=True)]
    return df

In [6]:
df_processed = (df.
                pipe(fill_missing_values).
                pipe(drop_duplicates, "id").
                pipe(remove_outliers, ["A","B"]))

In [33]:
df_processed

    id         A   B         C
0  100  1.000000  45  1.200000
2  101  3.000000  48  1.100000
3  102  4.000000  47  1.800000
4  103  5.000000  62  1.428571
6  105  3.142857  54  1.600000
7  106  5.000000  49  1.500000

In [32]:
my_df = df.copy()
df_processed = (my_df.
                pipe(fill_missing_values).
                pipe(drop_duplicates, "id").
                pipe(remove_outliers, ["A","B"]))