In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [5, 5, 0, 0],
                   [6, 6, 6, 6], [8, 8, 8, 8], [5, 5, 0, 0]],
                  columns=['Apple', 'Orange', 'Rice', 'Oil'],
                  index=['Basket1', 'Basket2', 'Basket3',
                         'Basket4', 'Basket5', 'Basket6'])

In [7]:
np.unique

In [22]:
print(df)
print("\n ----------------------------- \n")
print(df[['Apple', 'Orange', 'Rice', 'Oil']].
      groupby(['Apple']).agg(['mean', 'count',lambda x:np.unique(x)]))

         Apple  Orange  Rice  Oil
Basket1     10      20    30   40
Basket2      7      14    21   28
Basket3      5       5     0    0
Basket4      6       6     6    6
Basket5      8       8     8    8
Basket6      5       5     0    0

 -----------------------------

      Orange                  Rice                   Oil
        mean count <lambda_0> mean count <lambda_0> mean count <lambda_0>
Apple
5          5     2          5    0     2          0    0     2          0
6          6     1          6    6     1          6    6     1          6
7         14     1         14   21     1         21   28     1         28
8          8     1          8    8     1          8    8     1          8
10        20     1         20   30     1         30   40     1         40

In [45]:
print(df[['Apple','Orange']].groupby(['Apple']).agg([('means','mean'), ('cnt','count'),('unique',lambda x:np.count_nonzero(np.unique(x)))]))

      Orange
       means cnt unique
Apple
5          5   2      1
6          6   1      1
7         14   1      1
8          8   1      1
10        20   1      1