In [18]:
import pandas as pd
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [5, 5, 0, 0]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3'])

### 多行变为一行

In [19]:
df.mean()

Apple      7.333333
Orange    13.000000
Banana    17.000000
Pear      22.666667
dtype: float64

### 多列变为一列

In [20]:
df.mean(axis=1)

Basket1    25.0
Basket2    17.5
Basket3     2.5
dtype: float64

In [21]:
df['Fruit Mean']=df.mean(axis=1)

In [22]:
df.loc['Basket Mean']=df.mean()

In [23]:
df

                 Apple  Orange  Banana       Pear  Fruit Mean
Basket1      10.000000    20.0    30.0  40.000000        25.0
Basket2       7.000000    14.0    21.0  28.000000        17.5
Basket3       5.000000     5.0     0.0   0.000000         2.5
Basket Mean   7.333333    13.0    17.0  22.666667        15.0