In [31]:
import sklearn

In [32]:
from sklearn.datasets import load_iris

In [33]:
iris = load_iris()

In [34]:
data_X = iris.data
data_y = iris.target
label=iris.feature_names

In [35]:
import pandas as pd
df=pd.DataFrame(data_X,columns=label)

In [36]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [37]:
df2=df['sepal length (cm)']>=df['petal length (cm)']
df['comp1']=df2.astype('int')

In [38]:
df['comp2']=(df['sepal length (cm)']>=df['petal length (cm)']).astype('int')

In [39]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),comp1,comp2
0,5.1,3.5,1.4,0.2,1,1
1,4.9,3.0,1.4,0.2,1,1
2,4.7,3.2,1.3,0.2,1,1
3,4.6,3.1,1.5,0.2,1,1
4,5.0,3.6,1.4,0.2,1,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,1,1
146,6.3,2.5,5.0,1.9,1,1
147,6.5,3.0,5.2,2.0,1,1
148,6.2,3.4,5.4,2.3,1,1
149,5.9,3.0,5.1,1.8,1,1

In [1]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame({
    'EmpCode': ['Emp001', 'Emp002', 'Emp003', 'Emp004', 'Emp005'],
    'Name': ['John', 'Doe', 'William', 'Spark', 'Mark'],
    'Occupation': ['Chemist', 'Accountant', 'Statistician',
                   'Statistician', 'Programmer'],
    'Date Of Join': ['2018-01-25', '2018-01-26', '2018-01-26', '2018-02-26',
                     '2018-03-16'],
    'Age': [23, 24, 34, 29, 40]})

In [4]:
df['Department'] = np.where(df.Occupation.str.contains("Chemist"), "Science",
                               np.where(df.Occupation.str.contains("Statistician"), "Economics",
                               np.where(df.Occupation.str.contains("Programmer"), "Computer", "General")))
 
print(df)

  EmpCode     Name    Occupation Date Of Join  Age Department
0  Emp001     John       Chemist   2018-01-25   23    Science
1  Emp002      Doe    Accountant   2018-01-26   24    General
2  Emp003  William  Statistician   2018-01-26   34  Economics
3  Emp004    Spark  Statistician   2018-02-26   29  Economics
4  Emp005     Mark    Programmer   2018-03-16   40   Computer