## define a dataframe datasets

In [1]:
import numpy as np
import pandas as pd

In [9]:
a=np.random.normal(loc=0,scale=1,size=64)

In [25]:
df=pd.DataFrame(a.reshape(8,8),columns=list(range(1,9))).reset_index(drop=True)

In [16]:
new_char='saturday'

In [30]:
new_char_list=[new_char]

In [38]:
df2=pd.DataFrame({'new_char':[new_char]}).reset_index(drop=True)

In [39]:
df3=pd.concat([df,df2],axis=1)

In [50]:
df3.fillna(method='ffill',inplace=True)

In [51]:
df3

,1,2,3,4,5,6,7,8,new_char
0,-2.483208,0.449774,-1.506984,1.611070,-0.754653,-1.239796,-0.505775,1.798390,saturday
1,0.769532,0.358532,-0.612692,-0.866000,0.293117,0.511938,-2.104639,0.218922,saturday
2,-1.179846,-0.811801,0.497196,-0.464945,-1.355581,-0.369239,-0.797828,-0.719833,saturday
3,-0.905770,-0.358825,1.227123,-1.386440,-1.350348,0.471255,-1.484704,0.221053,saturday
4,0.599179,0.694731,-1.832561,-0.775163,0.214846,0.742571,1.672667,-0.716596,saturday
5,0.052975,1.225306,-0.829785,0.105022,-0.282350,0.189576,2.092514,1.468530,saturday
6,1.068764,-2.019506,-0.349427,0.097664,-0.878776,-1.208754,-0.743812,-1.512615,saturday
7,1.192088,-0.813164,1.002448,0.337695,-0.100380,0.879507,0.571597,0.205425,saturday