In [7]:
from __future__ import print_function, division
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

In [8]:
# 启动 Spark （如果你已经启动就不需要）
spark = SparkSession.builder.master("local[2]") \
   .appName("test") \
   .enableHiveSupport() \
   .getOrCreate()

sc = spark.sparkContext

## 讀取資料

In [9]:
df = spark.read.csv('../data/ratings.csv', header=True)

In [10]:
df.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

## 选择栏位

In [11]:
## select userID from data

In [12]:
df.select("userID").show()

+------+
|userID|
+------+
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
|     1|
+------+
only showing top 20 rows

In [13]:
## select userID , movieID from data

In [14]:
df.select("userID", "movieID").show()

+------+-------+
|userID|movieID|
+------+-------+
|     1|      2|
|     1|     29|
|     1|     32|
|     1|     47|
|     1|     50|
|     1|    112|
|     1|    151|
|     1|    223|
|     1|    253|
|     1|    260|
|     1|    293|
|     1|    296|
|     1|    318|
|     1|    337|
|     1|    367|
|     1|    541|
|     1|    589|
|     1|    593|
|     1|    653|
|     1|    919|
+------+-------+
only showing top 20 rows

## 操作栏位

In [15]:
## select userID as id from data

In [16]:
df.selectExpr("userID as id").show()

+---+
| id|
+---+
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
+---+
only showing top 20 rows

In [17]:
## select movieID, rating * 2 as rating_2

In [20]:
df.selectExpr("movieID", "rating * 2 as rating_2").show()

+-------+--------+
|movieID|rating_2|
+-------+--------+
|      2|     7.0|
|     29|     7.0|
|     32|     7.0|
|     47|     7.0|
|     50|     7.0|
|    112|     7.0|
|    151|     8.0|
|    223|     8.0|
|    253|     8.0|
|    260|     8.0|
|    293|     8.0|
|    296|     8.0|
|    318|     8.0|
|    337|     7.0|
|    367|     7.0|
|    541|     8.0|
|    589|     7.0|
|    593|     7.0|
|    653|     6.0|
|    919|     7.0|
+-------+--------+
only showing top 20 rows

In [21]:
df.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [22]:
df.selectExpr("cast(rating as DOUBLE)").printSchema()

root
 |-- rating: double (nullable = true)

## 筛选

In [23]:
# select * from data where rating > 3

In [24]:
df.filter("rating > 3").show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    541|   4.0|1112484603|
|     1|   1036|   4.0|1112485480|
|     1|   1079|   4.0|1094785665|
|     1|   1090|   4.0|1112485453|
|     1|   1097|   4.0|1112485701|
|     1|   1196|   4.5|1112484742|
|     1|   1198|   4.5|1112484624|
|     1|   1200|   4.0|1112484560|
|     1|   1214|   4.0|1094785977|
|     1|   1215|   4.0|1094786082|
|     1|   1219|   4.0|1094785994|
|     1|   1240|   4.0|1112485401|
|     1|   1249|   4.0|1112485382|
+------+-------+------+----------+
only showing top 20 rows

In [25]:
# select * from data where userID = 2 and rating >3

In [26]:
df.filter("userID == 2 and rating > 3").show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     2|      3|   4.0|974820889|
|     2|     62|   5.0|974820598|
|     2|     70|   5.0|974820691|
|     2|    110|   4.0|974820658|
|     2|    260|   5.0|974821014|
|     2|    266|   5.0|974820748|
|     2|    480|   5.0|974820720|
|     2|    541|   5.0|974821014|
|     2|    589|   5.0|974820658|
|     2|    908|   4.0|974820691|
|     2|    924|   5.0|974821014|
|     2|   1196|   5.0|974821014|
|     2|   1210|   5.0|974820598|
|     2|   1214|   5.0|974821014|
|     2|   1249|   5.0|974820691|
|     2|   1259|   5.0|974820659|
|     2|   1270|   5.0|974821014|
|     2|   1327|   5.0|974820846|
|     2|   1356|   5.0|974820598|
|     2|   1544|   5.0|974820943|
+------+-------+------+---------+
only showing top 20 rows

In [27]:
# select userID, rating from data where userId = 2 and rating > 3

In [35]:
df.filter("userID = 2 and rating > 3").select("userID", "rating").show()

+------+------+
|userID|rating|
+------+------+
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
+------+------+
only showing top 20 rows

In [37]:
df.select("userID", "rating").filter("userID = 2 and rating > 3").show()

+------+------+
|userID|rating|
+------+------+
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   4.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
|     2|   5.0|
+------+------+
only showing top 20 rows

## 聚合运算

In [42]:
# select count(*) from data

In [43]:
df.count()

20000263

In [45]:
df.agg({'userID': 'count'}).show()

+-------------+
|count(userID)|
+-------------+
|     20000263|
+-------------+

In [46]:
# select count(*) from data where userID =1

In [47]:
df.filter("userID = 1").count()

175

In [48]:
# select count(userID) from data, select avg(rating) from data

In [50]:
df.agg({'userID': 'count', 'rating': 'avg'}).show()

+------------------+-------------+
|       avg(rating)|count(userID)|
+------------------+-------------+
|3.5255285642993797|     20000263|
+------------------+-------------+

## Group By

In [51]:
# 计算每个user 评比了多少部电影，平均分数为何?

select userID, count(*), avg(rating)
from data
group userID

In [54]:
df.groupBy('userID').agg({'movieID': 'count', 'rating':'avg'}).show()

AttributeError: 'GroupedData' object has no attribute 'show'

In [55]:
from pyspark.sql.functions import *
df.groupBy('userID').agg(count('movieID'), round(avg(df.rating),2)).show()

+------+--------------+---------------------+
|userID|count(movieID)|round(avg(rating), 2)|
+------+--------------+---------------------+
|   296|            25|                 3.88|
|   467|            30|                 3.45|
|   675|           187|                 3.82|
|   691|            35|                 3.63|
|   829|           387|                 4.06|
|  1090|            74|                 3.81|
|  1159|           235|                 4.26|
|  1436|           234|                 3.24|
|  1512|            68|                 3.71|
|  1572|            64|                 3.76|
|  2069|            45|                 3.79|
|  2088|            87|                 3.31|
|  2136|           201|                 4.21|
|  2162|           100|                 3.52|
|  2294|            21|                 3.67|
|  2904|            23|                 3.17|
|  3210|           452|                 3.78|
|  3414|            29|                 3.52|
|  3606|            66|                 3.77|
|  3959|            24|                 3.04|
+------+--------------+---------------------+
only showing top 20 rows

## Join tables

![sql](http://4.bp.blogspot.com/-_HsHikmChBI/VmQGJjLKgyI/AAAAAAAAEPw/JaLnV0bsbEo/s1600/sql%2Bjoins%2Bguide%2Band%2Bsyntax.jpg)

In [56]:
d = [{'name': 'Alice', 'age': 1}, {'name': 'Bryan', 'age': 3}, {'name': 'Cool', 'age':2}]
df_profile = spark.createDataFrame(d)
df_profile.show()

/Users/bryan.yang/Documents/workspace/hellobi/spark_course/pyspark/example/lib/python3.5/site-packages/pyspark/sql/session.py:331: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+---+-----+
|age| name|
+---+-----+
|  1|Alice|
|  3|Bryan|
|  2| Cool|
+---+-----+

In [57]:
d = [{'name': 'Jason', 'child': 'Alice'}, 
     {'name': 'Bill', 'child': 'Bryan'}, 
     {'name': 'Sera', 'child': 'Bryan'}, 
     {'name': 'Jill', 'child': 'Ken'}]
df_parents = spark.createDataFrame(d)
df_parents.show()

+-----+-----+
|child| name|
+-----+-----+
|Alice|Jason|
|Bryan| Bill|
|Bryan| Sera|
|  Ken| Jill|
+-----+-----+

/Users/bryan.yang/Documents/workspace/hellobi/spark_course/pyspark/example/lib/python3.5/site-packages/pyspark/sql/session.py:331: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

In [61]:
df_profile.join(df_parents, df_profile.name == df_parents.child).show()

+---+-----+-----+-----+
|age| name|child| name|
+---+-----+-----+-----+
|  1|Alice|Alice|Jason|
|  3|Bryan|Bryan| Bill|
|  3|Bryan|Bryan| Sera|
+---+-----+-----+-----+

In [62]:
df_profile.join(df_parents, df_profile.name == df_parents.child, 'left').show()

+---+-----+-----+-----+
|age| name|child| name|
+---+-----+-----+-----+
|  2| Cool| null| null|
|  1|Alice|Alice|Jason|
|  3|Bryan|Bryan| Bill|
|  3|Bryan|Bryan| Sera|
+---+-----+-----+-----+

In [63]:
df_profile.join(df_parents, df_profile.name == df_parents.child, 'right').show()

+----+-----+-----+-----+
| age| name|child| name|
+----+-----+-----+-----+
|   1|Alice|Alice|Jason|
|null| null|  Ken| Jill|
|   3|Bryan|Bryan| Bill|
|   3|Bryan|Bryan| Sera|
+----+-----+-----+-----+

In [64]:
df_profile.join(df_parents, df_profile.name == df_parents.child, 'outer').show()

+----+-----+-----+-----+
| age| name|child| name|
+----+-----+-----+-----+
|   2| Cool| null| null|
|   1|Alice|Alice|Jason|
|null| null|  Ken| Jill|
|   3|Bryan|Bryan| Bill|
|   3|Bryan|Bryan| Sera|
+----+-----+-----+-----+

## 注册为 SQL 表

In [65]:
df.registerTempTable("table")

In [67]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |    table|       true|
+--------+---------+-----------+

In [68]:
spark.sql("select * from table limit 10").show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
+------+-------+------+----------+

In [70]:
def run_sql(sql_string):
    spark.sql(sql_string).show()

In [71]:
sql_string = """
select * 
from table
"""
run_sql(sql_string)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

In [72]:
sql_string = """
select userid as id 
from table
"""
run_sql(sql_string)

+---+
| id|
+---+
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
|  1|
+---+
only showing top 20 rows

In [73]:
sql_string = """
select userID, count(*)
from table
group by userID
"""
run_sql(sql_string)

+------+--------+
|userID|count(1)|
+------+--------+
|   296|      25|
|   467|      30|
|   675|     187|
|   691|      35|
|   829|     387|
|  1090|      74|
|  1159|     235|
|  1436|     234|
|  1512|      68|
|  1572|      64|
|  2069|      45|
|  2088|      87|
|  2136|     201|
|  2162|     100|
|  2294|      21|
|  2904|      23|
|  3210|     452|
|  3414|      29|
|  3606|      66|
|  3959|      24|
+------+--------+
only showing top 20 rows