In [8]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np

In [40]:
wine=load_wine()

In [10]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [25]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [61]:
df=pd.DataFrame(np.concatenate((wine.data,wine.target.reshape(-1,1)),axis=1),columns=list(wine.feature_names)+['target'])

In [62]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0

 ###  1.minmax scaler
 - 需要2个变量，单变量不能中中心化
 - fit 只是将方法赋予了对象，并没有实现数据转化
 - fit_transform才是直接转化，没有保留原始数据

In [75]:
scaler=MinMaxScaler()

In [79]:
df[['alcohol','malic_acid']]

     alcohol  malic_acid
0      14.23        1.71
1      13.20        1.78
2      13.16        2.36
3      14.37        1.95
4      13.24        2.59
..       ...         ...
173    13.71        5.65
174    13.40        3.91
175    13.27        4.28
176    13.17        2.59
177    14.13        4.10

[178 rows x 2 columns]

### 对函数实例化

In [80]:
data=scaler.fit(df[['alcohol','malic_acid']])

### 产出两个方法，计算最大，最小值

In [82]:
data.data_max_

array([14.83,  5.8 ])

In [83]:
data.data_min_

array([11.03,  0.74])

### 对数据进行转化，不会暴力库原始数据

In [86]:
data=data.transform(df[['alcohol','malic_acid']])

In [98]:
data2=scaler.fit_transform(df[['alcohol','malic_acid']])
data2=pd.DataFrame(data2,columns=['scaler_alcohol','scaler_malic_acid'])

In [100]:
data2.columns

Index(['scaler_alcohol', 'scaler_malic_acid'], dtype='object')

### 合并新老数据集

In [101]:
df2=pd.concat([df,data2],axis=1)

In [102]:
df2.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,scaler_alcohol,scaler_malic_acid
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,0.842105,0.191700
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,0.571053,0.205534
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,0.560526,0.320158
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,0.878947,0.239130
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,0.581579,0.365613

### 方法2：standard

In [105]:
scaler=StandardScaler()

In [110]:
data3=scaler.fit_transform(df[['magnesium','total_phenols']])
data3=pd.DataFrame(data3,columns=['std_magnesium','std_total_phenols'])

In [148]:
df3=pd.concat([df2,data3],axis=1)

In [112]:
df3.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,scaler_alcohol,scaler_malic_acid,std_magnesium,std_total_phenols
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0,0.842105,0.191700,1.913905,0.808997
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0,0.571053,0.205534,0.018145,0.568648
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0,0.560526,0.320158,0.088358,0.808997
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0,0.878947,0.239130,0.930918,2.491446
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0,0.581579,0.365613,1.281985,0.808997

### 2.缺失值填充

#### 新建立一个变量，制造空数据

In [149]:
df3['alcohol2']=df3['alcohol'].apply(lambda x:np.nan if x<=12.1 else x)

In [150]:
df3.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,scaler_alcohol,scaler_malic_acid,std_magnesium,std_total_phenols,alcohol2
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,1.780000e+02,1.780000e+02,149.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202,0.518584,0.315484,-2.494883e-17,-1.955365e-16,13.234899
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035,0.213639,0.220780,1.002821e+00,1.002821e+00,0.660676
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000,0.000000,0.000000,-2.088255e+00,-2.107246e+00,12.160000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000,0.350658,0.170455,-8.244151e-01,-8.854682e-01,12.690000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000,0.531579,0.222332,-1.222817e-01,9.595986e-02,13.240000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000,0.696711,0.462945,5.096384e-01,8.089974e-01,13.740000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000,1.000000,1.000000,4.371372e+00,2.539515e+00,14.830000

### 运用pandas方法填充

In [151]:
df3['impute_alcohol2']=df3.alcohol2.fillna(df3['alcohol2'].median())

In [152]:
df3.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,scaler_alcohol,scaler_malic_acid,std_magnesium,std_total_phenols,alcohol2,impute_alcohol2
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,1.780000e+02,1.780000e+02,149.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202,0.518584,0.315484,-2.494883e-17,-1.955365e-16,13.234899,13.235730
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035,0.213639,0.220780,1.002821e+00,1.002821e+00,0.660676,0.604136
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000,0.000000,0.000000,-2.088255e+00,-2.107246e+00,12.160000,12.160000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000,0.350658,0.170455,-8.244151e-01,-8.854682e-01,12.690000,12.795000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000,0.531579,0.222332,-1.222817e-01,9.595986e-02,13.240000,13.240000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000,0.696711,0.462945,5.096384e-01,8.089974e-01,13.740000,13.677500
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000,1.000000,1.000000,4.371372e+00,2.539515e+00,14.830000,14.830000

### 运用sklearn方法填充

In [153]:
from sklearn.impute import SimpleImputer

In [158]:
SimpleImputer?

In [157]:
impute=SimpleImputer(missing_values=np.nan,strategy='median',copy=True)
impute.fit_transform(df3[['alcohol2','ash']])

array([[14.23,  2.43],
       [13.2 ,  2.14],
       [13.16,  2.67],
       [14.37,  2.5 ],
       [13.24,  2.87],
       [14.2 ,  2.45],
       [14.39,  2.45],
       [14.06,  2.61],
       [14.83,  2.17],
       [13.86,  2.27],
       [14.1 ,  2.3 ],
       [14.12,  2.32],
       [13.75,  2.41],
       [14.75,  2.39],
       [14.38,  2.38],
       [13.63,  2.7 ],
       [14.3 ,  2.72],
       [13.83,  2.62],
       [14.19,  2.48],
       [13.64,  2.56],
       [14.06,  2.28],
       [12.93,  2.65],
       [13.71,  2.36],
       [12.85,  2.52],
       [13.5 ,  2.61],
       [13.05,  3.22],
       [13.39,  2.62],
       [13.3 ,  2.14],
       [13.87,  2.8 ],
       [14.02,  2.21],
       [13.73,  2.7 ],
       [13.58,  2.36],
       [13.68,  2.36],
       [13.76,  2.7 ],
       [13.51,  2.65],
       [13.48,  2.41],
       [13.28,  2.84],
       [13.05,  2.55],
       [13.07,  2.1 ],
       [14.22,  2.51],
       [13.56,  2.31],
       [13.41,  2.12],
       [13.88,  2.59],
       [13.24,  2.29],
       [13.05,  2.1 ],
       [14.21,  2.44],
       [14.38,  2.28],
       [13.9 ,  2.12],
       [14.1 ,  2.4 ],
       [13.94,  2.27],
       [13.05,  2.04],
       [13.83,  2.6 ],
       [13.82,  2.42],
       [13.77,  2.68],
       [13.74,  2.25],
       [13.56,  2.46],
       [14.22,  2.3 ],
       [13.29,  2.68],
       [13.72,  2.5 ],
       [12.37,  1.36],
       [12.33,  2.28],
       [12.64,  2.02],
       [13.67,  1.92],
       [12.37,  2.16],
       [12.17,  2.53],
       [12.37,  2.56],
       [13.11,  1.7 ],
       [12.37,  1.92],
       [13.34,  2.36],
       [12.21,  1.75],
       [12.29,  2.21],
       [13.86,  2.67],
       [13.49,  2.24],
       [12.99,  2.6 ],
       [13.24,  2.3 ],
       [13.24,  1.92],
       [13.03,  1.71],
       [13.24,  2.23],
       [12.33,  1.95],
       [12.7 ,  2.4 ],
       [13.24,  2.  ],
       [12.72,  2.2 ],
       [13.24,  2.51],
       [13.05,  2.32],
       [13.24,  2.58],
       [12.67,  2.24],
       [12.16,  2.31],
       [13.24,  2.62],
       [13.24,  2.46],
       [13.24,  2.3 ],
       [13.24,  2.32],
       [13.24,  2.42],
       [12.69,  2.26],
       [12.29,  2.22],
       [13.24,  2.28],
       [12.47,  2.2 ],
       [13.24,  2.74],
       [12.29,  1.98],
       [12.37,  2.1 ],
       [12.29,  2.21],
       [13.24,  1.7 ],
       [12.6 ,  1.9 ],
       [12.34,  2.46],
       [13.24,  1.88],
       [12.51,  1.98],
       [12.42,  2.27],
       [12.25,  2.12],
       [12.72,  2.28],
       [12.22,  1.94],
       [13.24,  2.7 ],
       [13.24,  1.82],
       [12.52,  2.17],
       [13.24,  2.92],
       [13.24,  2.5 ],
       [13.24,  2.5 ],
       [13.24,  2.2 ],
       [13.24,  1.99],
       [12.42,  2.19],
       [12.77,  1.98],
       [13.24,  2.  ],
       [13.24,  2.42],
       [13.24,  3.23],
       [12.42,  2.73],
       [13.05,  2.13],
       [13.24,  2.39],
       [13.24,  2.17],
       [12.43,  2.29],
       [13.24,  2.78],
       [12.37,  2.3 ],
       [13.24,  2.38],
       [12.86,  2.32],
       [12.88,  2.4 ],
       [12.81,  2.4 ],
       [12.7 ,  2.36],
       [12.51,  2.25],
       [12.6 ,  2.2 ],
       [12.25,  2.54],
       [12.53,  2.64],
       [13.49,  2.19],
       [12.84,  2.61],
       [12.93,  2.7 ],
       [13.36,  2.35],
       [13.52,  2.72],
       [13.62,  2.35],
       [12.25,  2.2 ],
       [13.16,  2.15],
       [13.88,  2.23],
       [12.87,  2.48],
       [13.32,  2.38],
       [13.08,  2.36],
       [13.5 ,  2.62],
       [12.79,  2.48],
       [13.11,  2.75],
       [13.23,  2.28],
       [12.58,  2.1 ],
       [13.17,  2.32],
       [13.84,  2.38],
       [12.45,  2.64],
       [14.34,  2.7 ],
       [13.48,  2.64],
       [12.36,  2.38],
       [13.69,  2.54],
       [12.85,  2.58],
       [12.96,  2.35],
       [13.78,  2.3 ],
       [13.73,  2.26],
       [13.45,  2.6 ],
       [12.82,  2.3 ],
       [13.58,  2.69],
       [13.4 ,  2.86],
       [12.2 ,  2.32],
       [12.77,  2.28],
       [14.16,  2.48],
       [13.71,  2.45],
       [13.4 ,  2.48],
       [13.27,  2.26],
       [13.17,  2.37],
       [14.13,  2.74]])

In [164]:
df3['sklearn_impute_alcohol2']=impute.fit_transform(df3[['alcohol2','ash']])[:,0]

In [165]:
df3.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,...,od280/od315_of_diluted_wines,proline,target,scaler_alcohol,scaler_malic_acid,std_magnesium,std_total_phenols,alcohol2,impute_alcohol2,sklearn_impute_alcohol2
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,...,178.000000,178.000000,178.000000,178.000000,178.000000,1.780000e+02,1.780000e+02,149.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,...,2.611685,746.893258,0.938202,0.518584,0.315484,-2.494883e-17,-1.955365e-16,13.234899,13.235730,13.235730
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,...,0.709990,314.907474,0.775035,0.213639,0.220780,1.002821e+00,1.002821e+00,0.660676,0.604136,0.604136
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,...,1.270000,278.000000,0.000000,0.000000,0.000000,-2.088255e+00,-2.107246e+00,12.160000,12.160000,12.160000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,...,1.937500,500.500000,0.000000,0.350658,0.170455,-8.244151e-01,-8.854682e-01,12.690000,12.795000,12.795000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,...,2.780000,673.500000,1.000000,0.531579,0.222332,-1.222817e-01,9.595986e-02,13.240000,13.240000,13.240000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,...,3.170000,985.000000,2.000000,0.696711,0.462945,5.096384e-01,8.089974e-01,13.740000,13.677500,13.677500
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,...,4.000000,1680.000000,2.000000,1.000000,1.000000,4.371372e+00,2.539515e+00,14.830000,14.830000,14.830000

### 3.建立分类变量

In [166]:
from sklearn.preprocessing import OneHotEncoder

In [203]:
dummy=OneHotEncoder()
data=dummy.fit_transform(pd.concat([df3['target'],df3['target']],axis=1)).toarray()[:,:3]

In [207]:
df_new=pd.DataFrame(data,columns=['target_1','target_2','target_3'])

In [209]:
df3=pd.concat([df3,df_new],axis=1)

In [224]:
df3[df3['target']>=2][['target','target_1','target_2','target_3']].head(15)

     target  target_1  target_2  target_3
130     2.0       0.0       0.0       1.0
131     2.0       0.0       0.0       1.0
132     2.0       0.0       0.0       1.0
133     2.0       0.0       0.0       1.0
134     2.0       0.0       0.0       1.0
135     2.0       0.0       0.0       1.0
136     2.0       0.0       0.0       1.0
137     2.0       0.0       0.0       1.0
138     2.0       0.0       0.0       1.0
139     2.0       0.0       0.0       1.0
140     2.0       0.0       0.0       1.0
141     2.0       0.0       0.0       1.0
142     2.0       0.0       0.0       1.0
143     2.0       0.0       0.0       1.0
144     2.0       0.0       0.0       1.0

In [239]:
df3['target'].groupby(df3['target']).count().unique()

array([59, 71, 48], dtype=int64)

In [236]:
for i in ['target_1','target_2','target_3']:
    print(i,df3[i].sum())

target_1 59.0
target_2 71.0
target_3 48.0