In [47]:
import json

data =[{'a': 'A', 'b': 2, 'c': 3.0}]

In [48]:
unsorted = json.dumps(data)
print('JSON:', json.dumps(data))    # JSON: [{"a": "A", "b": [2, 4], "c": 3.0}]

JSON: [{"a": "A", "b": 2, "c": 3.0}]

In [49]:
temp=json.loads(unsorted)

In [52]:
temp

[{'a': 'A', 'b': 2, 'c': 3.0}]

In [53]:
import pandas as pd
df=pd.DataFrame(temp)

In [54]:
df

   a  b    c
0  A  2  3.0

In [247]:
file_name = 'face_score_result.txt'
file_object=open(file_name,encoding='gbk')
text3 = file_object.readlines()
text3

['图片一(370306198901253027)与图片二(370306198901253027)比对结果:\n',
 '{\n',
 '\t"responseCode": "000000",\n',
 '\t"responseData":{\n',
 '\t\t"similarity":0.999999,\n',
 '\t\t"ref_thres":"0.420"\n',
 '},\n',
 '\t"responseMessage":"success"\n',
 '}\n',
 '\n',
 '图片一(370306198901253027)与图片二(370306198901253028)比对结果:\n',
 '{\n',
 '\t"responseCode": "000000",\n',
 '\t"responseData":{\n',
 '\t\t"similarity":0.899999,\n',
 '\t\t"ref_thres":"0.420"\n',
 '},\n',
 '\t"responseMessage":"success"\n',
 '}\n',
 '\n',
 '图片一(370306198901253027)与图片二(370306198901253029)比对结果:\n',
 '{\n',
 '\t"responseCode": "000000",\n',
 '\t"responseData":{\n',
 '\t\t"similarity":0.799999,\n',
 '\t\t"ref_thres":"0.420"\n',
 '},\n',
 '\t"responseMessage":"success"\n',
 '}\n',
 '\n',
 '图片一(370306198901253027)与图片二(370306198901253020)比对结果:\n',
 '{\n',
 '\t"responseCode": "000000",\n',
 '\t"responseData":{\n',
 '\t\t"similarity":0.699999,\n',
 '\t\t"ref_thres":"0.420"\n',
 '},\n',
 '\t"responseMessage":"success"\n',
 '}\n',
 '\n',
 '图片一(370306198901253027)与图片二(370306198901253021)比对结果:\n',
 '{\n',
 '\t"responseCode": "000000",\n',
 '\t"responseData":{\n',
 '\t\t"similarity":0.599999,\n',
 '\t\t"ref_thres":"0.420"\n',
 '},\n',
 '\t"responseMessage":"success"\n',
 '}\n',
 '\n']

In [283]:
import json
import re
import pandas as pd
from pandas.io.json import json_normalize
char_str=''
id1=[]
id2=[]
df=pd.DataFrame()
p2 = re.compile(r'[(](.*?)[)]', re.S) 

for i in range(1,len(text3)+1):
    if i%10==1:
        temp1=re.findall(p2,text3[i-1].strip())
        id1.append(temp1[0])
        id2.append(temp1[1])
    elif i%10 !=0:
        char=text3[i-1].strip()
        char_str=char_str+char
    elif i%10 ==0:
        char_total='['+char_str+']'
        char_json=json.loads(char_total)
        temp2=json_normalize(char_json)
        df=pd.concat([df,temp2],axis=0)
        char_str=''
print(df)
df=df.reset_index(drop=True)
df1=pd.DataFrame({'ID1':id1,'ID2':id2}).reset_index(drop=True)

data_union=pd.concat([df1,df],axis=1)

  responseCode responseMessage  responseData.similarity responseData.ref_thres
0       000000         success                 0.999999                  0.420
0       000000         success                 0.899999                  0.420
0       000000         success                 0.799999                  0.420
0       000000         success                 0.699999                  0.420
0       000000         success                 0.599999                  0.420

In [284]:
data_union

,ID1,ID2,responseCode,responseMessage,responseData.similarity,responseData.ref_thres
0,370306198901253027,370306198901253027,000000,success,0.999999,0.420
1,370306198901253027,370306198901253028,000000,success,0.899999,0.420
2,370306198901253027,370306198901253029,000000,success,0.799999,0.420
3,370306198901253027,370306198901253020,000000,success,0.699999,0.420
4,370306198901253027,370306198901253021,000000,success,0.599999,0.420

In [254]:
print(df1.shape)
print(df2.shape)
print(df.shape)

(5, 1)
(5, 1)
(5, 4)